/* Fixed Flex Navbar */

.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

.nav-bar {
    display: flex;
    list-style-type: none;
    align-items: center;
    padding-left: 0;
}

.nav-menu {
    padding-right: 10px;
}

.nav-link {
    text-decoration: none;
}

#header-img {
    width: 75px;
    height: auto;
}

#space {
    flex: 1;
}

/* Benifits Section */

#benifits {
    margin-top: 65px;
    display: flex;
    justify-content: center;
}

/* Embedded Video */

.video-container {
    display: flex;
    justify-content: center;
}

#video-holder {
    position: absolute;
    text-align: center;
}

#video { 
    position: relative;
    z-index: 1;
    text-align: center;
}

/* Pricing */

.pricing {
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

.price  {
    border: solid black 1px;
    margin-left: 50px;
    width: 200px;
}

.price-title {
    text-align: center;
}

.price-detail {
    display: flex;
    flex-direction: column;
}
