/* Fixed Flex Navbar */

.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    background-color: #a1aea9;
}

.nav-bar {
    display: flex;
    list-style-type: none;
    align-items: center;
    padding-left: 0;
}

.nav-menu {
    padding-right: 10px;
}

.nav-link {
    text-decoration: none;
}

#header-img {
    width: 75px;
    height: auto;
}

#space {
    flex: 1;
}

/* Main Body */

.main-body {
    left: 0;
    width: 100%;
}
/* Benifits Section */

#benifits {
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #80e8cb;
}

.benifits-title {
    margin-bottom: 0;
}
/* Embedded Video */

.video-container {
    display: flex;
    justify-content: center;
    margin: 5px 0 5px 0;
    background-color: #fbfbfb;
}

#video-holder {
    position: absolute;
    text-align: center;
}

#video { 
    position: relative;
    z-index: 1;
    text-align: center;
}

/* Pricing */

.pricing {
    display: flex;
    justify-content: center;
    padding: 35px 0 35px 0;
    background-color: #80e8cb;
}

.price  {
    margin-left: 50px;
    width: 200px;
    border-radius: 3px;
    background-color: #fbfbfb;
}

.price-title {
    text-align: center;
    background-color: #fb9c22;
    margin: 0;
    padding: 10px 0 10px 0
}

.price-detail {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}
