/* Fixed Flex Navbar */

.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    padding-left: 0;
}

li {
    padding-right: 10px;
}

a {
    text-decoration: none;
}

#header-img {
    width: 75px;
    height: auto;
}

#space {
    flex: 1;
}

/* Embedded Video */

#video-holder {
    position: absolute;
    margin-top: 65px;
    text-align: center;
}

#video { 
    position: relative;
    z-index: 1;
    margin-top: 65px;
    text-align: center;
}