/* Main Body */

body {
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin: 0;
}

a {
    color: black;
}

/* Fixed Flex Navbar */

.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    background-color: #a1aea9;
}

.nav-bar {
    display: flex;
    list-style-type: none;
    align-items: center;
    padding-left: 0;
}

.nav-menu {
    padding-right: 10px;
}

.nav-link {
    text-decoration: none;
}

#header-img {
    width: 75px;
    height: auto;
}

#space {
    flex: 1;
    font-size: 30px;
}

/* Benifits Section */

#benifits {
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #80e8cb;
}

.bullet {
    width: 30px;
    height: auto;
    padding-right: 15px;
}

.benifits-title {
    margin-bottom: 0;
}

@media (max-width: 400px) {
    .benifits-title {
        font-size: 15px;
    }
}

#benifits-list {
    list-style-type: none;
    padding-left: 0;
}

.benifits-item {
    padding-bottom: 20px;
    font-size: 20px;
}

/* Embedded Video */

.video-container {
    display: flex;
    justify-content: center;
    margin: 5px 0 5px 0;
    background-color: #fbfbfb;
}

#video-holder {
    position: absolute;
    text-align: center;
}

#video { 
    position: relative;
    z-index: 1;
    text-align: center;
}

/* Pricing */

.pricing {
    display: flex;
    justify-content: center;
    padding: 35px 0 35px 0;
    background-color: #80e8cb;
}

.price  {
    margin-left: 50px;
    width: 200px;
    border-radius: 3px;
    background-color: #fbfbfb;
}

.price-title {
    text-align: center;
    background-color: #fb9c22;
    margin: 0;
    padding: 10px 0 10px 0
}

.price-detail {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

/* Form Element */

#form {
    text-align: center;
    background-color: #80e8cb;
}

/* Footer */

#footer {
    background-color: #a1aea9;
}

#foot-bar {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    align-items: center;
    padding: 16px auto 16px auto;
    margin: 0;
    height: 45px;
}

#email {
    margin: 5px 0 5px 0;
}

#submit {
    background-color: #fb9c22;
    margin-bottom: 10px;
}
